################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Captain.CO2NET
/src/Captain.CO2NET/obj
/.vs
/src/Captain.CO2NET/bin/Debug/netstandard2.0
/src/Captain.CO2NET.Api/bin/Debug/netstandard2.0
/src/Captain.CO2NET.Api/obj
/src/Captain.CO2NET/bin
/src/Captain.CO2NET/Properties/PublishProfiles
/src/Captain.CO2NET.Json/bin/Debug/netstandard2.0
/src/Captain.CO2NET.Json/obj
/src/Captain.CO2NET.HttpException/bin/Debug/netstandard2.0
/src/Captain.CO2NET.HttpException/obj
/src/Captain.DB2NET.NPoco/bin
/src/Captain.DB2NET.NPoco/obj
/src/Captain.DB2NET.NPoco4Mysql/bin
/src/Captain.DB2NET.NPoco4Mysql/obj
/src/Captain.DB2NET.NPoco4Mysql.Tests/bin/Debug/netcoreapp3.1
/src/Captain.DB2NET.NPoco4Mysql.Tests/obj
/src/Captain.DB2NET.NPoco4SqlServer/bin
/src/Captain.DB2NET.NPoco4SqlServer/obj
/src/Captain.HttpClient/.vs/Captain.HttpClient
/src/Captain.HttpClient/obj
/src/Captain.HttpClient.Tests/obj
/src/Captain.HttpClient/bin/Debug/netstandard2.0
/src/Captain.HttpClient.Tests/bin/Debug/netcoreapp3.1
/src/Captain.DB2NET.NPoco.Demo/bin/Debug/net5.0
/src/Captain.DB2NET.NPoco.Demo/obj
/src/Captain.DB2NET.NPoco.Demo/appsettings.json
