################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Captain.CO2NET
/src/Captain.CO2NET/obj
/.vs
/src/Captain.CO2NET/bin/Debug/netstandard2.0
/src/Captain.CO2NET.Api/bin/Debug/netstandard2.0
/src/Captain.CO2NET.Api/obj
